{% extends 'adminlte/base.html' %}
{% load static %}

{% block content_header %}
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
{% endblock %}

{% block title %}
    SISCau - Sistema de Controle Agrícola
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}    

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Quadra </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'quadras' %}">Listar</a></li>
              <li class="breadcrumb-item active">{% if editar %}  Editar {% else %} Cadastrar{%endif%}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">{% if editar %}Editar{% else %}Cadastrar{% endif %} Quadra</h3>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                
                                <div class="row">
                                     <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.nome.label }}</label>
                                            {{ form.nome }}
                                            {% if form.nome.errors %}
                                                <div class="text-danger">
                                                    {{ form.nome.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.fazenda.label }}</label>
                                            {{ form.fazenda }}
                                            {% if form.fazenda.errors %}
                                                <div class="text-danger">
                                                    {{ form.fazenda.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                   
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.area.label }}</label>
                                            {{ form.area }}
                                            {% if form.area.errors %}
                                                <div class="text-danger">
                                                    {{ form.area.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.tipoSolo.label }}</label>
                                            {{ form.tipoSolo }}
                                            {% if form.tipoSolo.errors %}
                                                <div class="text-danger">
                                                    {{ form.tipoSolo.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.dataPlantio.label }}</label>
                                            {{ form.dataPlantio }}
                                            {% if form.dataPlantio.errors %}
                                                <div class="text-danger">
                                                    {{ form.dataPlantio.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.espacamento.label }}</label>
                                            {{ form.espacamento }}
                                            {% if form.espacamento.errors %}
                                                <div class="text-danger">
                                                    {{ form.espacamento.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.culturas.label }}</label>
                                            {{ form.culturas }}
                                            {% if form.culturas.errors %}
                                                <div class="text-danger">
                                                    {{ form.culturas.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.variedades.label }}</label>
                                            {{ form.variedades }}
                                            {% if form.variedades.errors %}
                                                <div class="text-danger">
                                                    {{ form.variedades.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ form.descricao.label }}</label>
                                            {{ form.descricao }}
                                            {% if form.descricao.errors %}
                                                <div class="text-danger">
                                                    {{ form.descricao.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                                <a href="{% url 'quadras' %}" class="btn btn-default">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock%}