{% extends 'adminlte/base.html' %}
{% load static %}

{% block content_header %}
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
{% endblock %}

{% block title %}
    SISCau - Sistema de Controle Agrícola
{% endblock %} 

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}    

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Insumo</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'insumos' %}">Insumos</a></li>
              <li class="breadcrumb-item active">{% if editar %}Editar{% else %}Cadastrar{% endif %}</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">{% if editar %}Editar{% else %}Cadastrar{% endif %} Insumo</h3>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.nome.label }}</label>
                                            {{ form.nome }}
                                            {% if form.nome.errors %}
                                                <div class="text-danger">
                                                    {{ form.nome.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.tipo.label }}</label>
                                            {{ form.tipo }}
                                            {% if form.tipo.errors %}
                                                <div class="text-danger">
                                                    {{ form.tipo.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.fabricante.label }}</label>
                                            {{ form.fabricante }}
                                            {% if form.fabricante.errors %}
                                                <div class="text-danger">
                                                    {{ form.fabricante.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.formaFisica.label }}</label>
                                            {{ form.formaFisica }}
                                            {% if form.formaFisica.errors %}
                                                <div class="text-danger">
                                                    {{ form.formaFisica.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.finalidade.label }}</label>
                                            {{ form.finalidade }}
                                            {% if form.finalidade.errors %}
                                                <div class="text-danger">
                                                    {{ form.finalidade.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ form.aplicacao.label }}</label>
                                            {{ form.aplicacao }}
                                            {% if form.aplicacao.errors %}
                                                <div class="text-danger">
                                                    {{ form.aplicacao.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ form.formulaComposicao.label }}</label>
                                            {{ form.formulaComposicao }}
                                            {% if form.formulaComposicao.errors %}
                                                <div class="text-danger">
                                                    {{ form.formulaComposicao.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                                <a href="{% url 'insumos' %}" class="btn btn-default">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock%}